
.custom-bg {
  background-color: rgb(212, 245, 185);
}

.collapsed-bg {
  background-image: linear-gradient(to bottom, rgb(228, 244, 214), white);
}

.navbar-brand {
  font-family: 'Kavoon', cursive;
  font-size: 32px;
  color: #198754;
}

.navbar-nav .nav-link {
  padding: 0.5rem;
  color: #198754;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #333;
  background-color: transparent;
}

.nav-link img {
  transition: filter 0.3s ease;
}

.nav-link:hover img {
  filter: brightness(0) saturate(100%) invert(20%) sepia(50%) hue-rotate(90deg) saturate(500%) brightness(80%);
}

.navbar-toggler {
  margin-top: -10px;
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #198754;
  border-radius: 1px;
  transition: 0.25s ease-in-out;
}

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  top: 10px;
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* Navbar Toggler - Expanded State */
.navbar-toggler:not(.collapsed) .top-bar {
  transform: rotate(135deg);
}

.navbar-toggler:not(.collapsed) .middle-bar {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .bottom-bar {
  transform: rotate(-135deg);
}

/* Search Bar Styles */
.search-container {
  position: relative;
  width: 100%;
}

.search-bar-input {
  width: calc(100% - 40px);
  padding: 10px 20px;
  border: 1px solid #14A44D;
  border-radius: 20px;
  padding-left: 50px;
  background: url('/assets/images/search.svg') no-repeat 20px center;
  background-color: #ffffff;
}

/* Container Fluid */
.container-fluid {
  padding: 0 15px;
}

/* Responsive Adjustments */
@media (max-width: 300px) {
  .navbar-brand {
    font-size: 20px;
  }
}

/* Dropdown Menu Styles */
.nav-item.dropdown {
  position: relative;
}

.dropdown-menu {
  border: 1px solid #198754;
  border-radius: 0.5rem;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none; 
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Dropdown Item Styles */
.dropdown-item {
  color: #198754;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  background-color: transparent;
}

.dropdown-item:hover {
  color: #333;
}

/* Showing Dropdown on Hover */
.nav-item.dropdown:hover .dropdown-menu{
  display: block; 
  opacity: 1; 
  visibility: visible; 
}

/* Removing the default caret for dropdown toggles */
.dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-item .nav-link::after {
  display: none; 
}


/* search dropown*/
.search-dropdown {
  width: calc(100% - 40px); 
  max-width: calc(100% - 40px); 
}


/* Profile image styling */
.profile-image {
  border-radius: 50%; 
  width: 30px;
  height: 30px;
  object-fit: cover;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link .profile-image {
  filter: none; 
}

.nav-link:hover .profile-image {
  filter: none;
  transform: none;
}

/* For WISHLIST */
@media (min-width: 990px) {
  .wishlist-dropdown {
    left: auto; 
    right: 0; 
    width: 250px;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

  }
}

.nav-item.dropdown.wishlist-container:hover .wishlist-dropdown,
.wishlist-dropdown:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 991px) {
  .wishlist-dropdown {
    left: 0 !important; 
    right: auto !important;
    
  }
}

/* for cart */

@media (min-width: 990px) {
  .cart-dropdown {
    left: auto;
    right: 0;
    width: 250px;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
}

.nav-item.dropdown.cart-container:hover .cart-dropdown,
.cart-dropdown:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 991px) {
  .cart-dropdown {
    left: 0 !important;
    right: auto !important;
  }
}

.my-learning-dropdown {
  width: 250px; 
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #198754;
  border-radius: 0.5rem;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-item.dropdown.my-learning-container:hover .my-learning-dropdown,
.my-learning-dropdown:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 990px) {
  .my-learning-dropdown {
    left: auto;
    right: 0; /* Position to the right side */
  }
}

@media (max-width: 991px) {
  .my-learning-dropdown {
    left: 0 !important;
    right: auto !important;
  }
}


.profile-dropdown {
  width: 200px;
  border: 1px solid #198754; 
  border-radius: 0.5rem; 
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0; 
  z-index: 1000; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
}


.nav-item.dropdown:hover .profile-dropdown,
.profile-dropdown:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 990px) {
  .profile-dropdown {
    left: auto; 
    right: 0; 
  }
}

@media (max-width: 991px) {
  .profile-dropdown {
    left: 0 !important; 
    right: auto !important;
  }
}


















