<!-- Hidden navbar  -->
<nav *ngIf="navbarType === 'hidden'" class="loading-spinner navbar navbar-expand-lg custom-bg py-3 fixed-top">
  <!-- Intentionally empty -->
</nav>


<!-- Default Navbar -->
<nav *ngIf="navbarType === 'default'" class="navbar navbar-expand-lg custom-bg py-3 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">StudyJet</a>

    <!-- Hamburger menu -->
    <button class="navbar-toggler d-flex d-lg-none flex-column justify-content-around" type="button"
      (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      [attr.aria-controls]="'navbarSupportedContent'" [attr.aria-expanded]="!isNavbarCollapsed"
      aria-label="Toggle navigation" [ngClass]="{ collapsed: isNavbarCollapsed }">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>

    <!-- Collapsible content -->
    <div [ngClass]="{ collapse: isNavbarCollapsed, 'navbar-collapse': true }" id="navbarSupportedContent">
      <form (ngSubmit)="onSearchSubmit()" class="d-flex flex-grow-1 mx-4" id="searchForm">
        <div class="search-container flex-grow-1 position-relative">
          <input class="form-control search-bar-input" type="text" [(ngModel)]="searchQuery" name="searchQuery"
            [placeholder]="searchPlaceholder" aria-label="Search" id="search-bar" autocomplete="off"
            (input)="onSearchInput()" />

          <!-- Suggestions dropdown -->
          <ul *ngIf="suggestions.length > 0 && !isOnCourseDetailPage()" class="dropdown-menu search-dropdown list-group"
            style="position: absolute; z-index: 1000; margin-top: 5px; display: block; opacity: 1; visibility: visible;">
            <li *ngFor="let suggestion of suggestions" (click)="goToCourse(suggestion.courseID); clearSearch()"
              (keydown.enter)="goToCourse(suggestion.courseID); clearSearch()"
              class="dropdown-item list-group-item fw-semibold" style="cursor: pointer; border: none" tabindex="0">
              {{ suggestion.title }}
            </li>
          </ul>
        </div>
      </form>

    <!-- Right side content -->
    <div class="ms-auto order-lg-last" id="nav-right">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle fw-semibold" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Courses</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let category of categories">
              <a class="dropdown-item fw-semibold" [routerLink]="['/courses/category', category.categoryID]"
                (click)="toggleNavbar()">{{ category.name }}</a>
            </li>

            <li>
              <a class="dropdown-item fw-semibold" [routerLink]="'/courses'" (click)="toggleNavbar()">All Courses</a>
            </li>
          </ul>
        </li>

        <li class="nav-item me-3">
          <a routerLink="/about" class="nav-link fw-semibold">About</a>
        </li>
        <li class="nav-item me-3" id="login-link">
          <a routerLink="/login" class="nav-link fw-semibold">Login</a>
        </li>
        <li class="nav-item me-3" id="signup-link">
          <a routerLink="/register" class="nav-link fw-semibold">Register</a>
        </li>
        <li class="nav-item me-3">
          <a routerLink="/cart" class="nav-link">
            <img src="assets/images/cart.svg" alt="Cart" width="30" height="30" />
          </a>
        </li>
        <li class="nav-item me-3">
          <a routerLink="/wishlist" class="nav-link">
            <img src="assets/images/wishlist.svg" alt="Wishlist" width="30" height="30" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>



<!-- Student Dashboard -->
<nav *ngIf="navbarType === 'student'" class="navbar navbar-expand-lg custom-bg py-3 fixed-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" (click)="navigateToStudentDashboard()" style="cursor: pointer"
      (keydown.enter)="navigateToStudentDashboard()" tabindex="0">
      StudyJet
    </a>

    <!-- Hamburger menu -->
    <button class="navbar-toggler d-flex d-lg-none flex-column justify-content-around" type="button"
      (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      [attr.aria-controls]="'navbarSupportedContent'" [attr.aria-expanded]="!isNavbarCollapsed"
      aria-label="Toggle navigation" [ngClass]="{ collapsed: isNavbarCollapsed }">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>

    <!-- Collapsible content -->
    <div [ngClass]="{ collapse: isNavbarCollapsed, 'navbar-collapse': true }" id="navbarSupportedContent">
      <form (ngSubmit)="onSearchSubmit()" class="d-flex flex-grow-1 mx-4" id="searchForm">
        <div class="search-container flex-grow-1 position-relative">
          <input class="form-control search-bar-input" type="text" [(ngModel)]="searchQuery" name="searchQuery"
            [placeholder]="searchPlaceholder" aria-label="Search" id="search-bar" autocomplete="off"
            (input)="onSearchInput()" />

          <!-- Suggestions dropdown -->
          <ul *ngIf="suggestions.length > 0 && !isOnCourseDetailPage()" class="dropdown-menu search-dropdown list-group"
            style="position: absolute; z-index: 1000; margin-top: 5px; display: block; opacity: 1; visibility: visible;">
            <li *ngFor="let suggestion of suggestions" (click)="goToCourse(suggestion.courseID); clearSearch()"
              (keydown.enter)="goToCourse(suggestion.courseID); clearSearch()"
              class="dropdown-item list-group-item fw-semibold" style="cursor: pointer; border: none" tabindex="0">
              {{ suggestion.title }}
            </li>
          </ul>
        </div>
      </form>
 

    <!-- Right side content -->
    <div class="ms-auto order-lg-last" id="nav-right">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Courses dropdown -->
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle fw-semibold" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Courses</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let category of categories">
              <a class="dropdown-item fw-semibold" [routerLink]="['/courses/category', category.categoryID]"
                (click)="toggleNavbar()">{{ category.name }}</a>
            </li>
            <li>
              <a class="dropdown-item fw-semibold" [routerLink]="'/courses'" (click)="toggleNavbar()">All Courses</a>
            </li>
          </ul>
        </li>

        <!-- My Learning Dropdown -->
        <li class="nav-item dropdown me-3 my-learning-container">
          <a class="nav-link dropdown-toggle fw-semibold" href="#" id="myLearningDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            My Learning
          </a>

          <ul class="dropdown-menu my-learning-dropdown" aria-labelledby="myLearningDropdown">
            <div *ngIf="purchasedCourses.length > 0; else noCourses">
              <li *ngFor="let course of purchasedCourses; trackBy: trackByCourseId" class="dropdown-item py-2">
                <!-- Course Image and Details -->
                <div class="d-flex align-items-center">
                  <!-- Course Image -->
                  <img [src]="getCourseImageUrl(course)" alt="Course Image" class="img-thumbnail"
                    style="width: 50px; height: 50px; object-fit: cover;" />

                  <!-- Course Details -->
                  <div class="d-flex flex-column ms-3" style="flex-grow: 1; margin: 0; padding: 0;">
                    <!-- Course Title -->
                    <a [routerLink]="['/courses', course.courseID]" (click)="closeDropdown()"
                      class="nav-link mb-0 text-truncate"
                      style="font-size: 16px; font-weight: bold; margin: 0; padding: 0;">
                      {{ course.title }}
                    </a>

                    <!-- Instructor Name -->
                    <p class="mb-0 card-text text-muted" style="font-size: 12px; margin: 0; padding: 0;">
                      {{ course.instructorName }}
                    </p>
                  </div>
                </div>
              </li>

              <!-- Go to My Learning Button -->
              <div class="text-center pt-2">
                <button class="btn btn-sm btn-success w-100" [routerLink]="['/my-learning']">
                  Go to My Learning
                </button>
              </div>
            </div>

            <!-- Fallback Message if No Courses Purchased -->
            <ng-template #noCourses>
              <li class="dropdown-item text-muted text-center">
                No purchased courses yet.
              </li>
            </ng-template>
          </ul>
        </li>

        <!-- Profile Icon with Dropdown -->
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <!-- Displaying the profile image  -->
            <img *ngIf="profileImageUrl" [src]="profileImageUrl" alt="Profile" class="profile-image" />
            <span *ngIf="!profileImageUrl">Profile</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="profileDropdown">
            <li>
              <a class="dropdown-item fw-semibold" [routerLink]="['/security-settings']" role="button">Security
                Settings</a>
            </li>
            <li>
              <a class="dropdown-item fw-semibold" [routerLink]="['/purchase-history']" role="button">Purchase
                History</a>
            </li>
            <li>
              <a class="dropdown-item fw-semibold" href="#" (click)="logout()" role="button">Logout</a>
            </li>
          </ul>
        </li>

        <!-- Wishlist Dropdown -->
        <li class="nav-item dropdown me-3 wishlist-container" (click)="toggleWishlistDropdown()">
          <a class="nav-link dropdown-toggle fw-semibold" href="#" id="wishlistDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/wishlist.svg" alt="Wishlist" width="30" height="30" />
          </a>
          <ul class="dropdown-menu wishlist-dropdown" aria-labelledby="wishlistDropdown">
            <!-- Wishlist Items -->
            <div *ngIf="wishlist.length > 0; else noItems">
              <li *ngFor="let item of wishlist; trackBy: trackByCourseId" class="dropdown-item py-2">
                <!-- Course Image and Details -->
                <div class="d-flex align-items-center">
                  <!-- Course Image -->
                  <img [src]="getCourseImageUrl(item)" alt="Course Image" class="img-thumbnail"
                    style="width: 50px; height: 50px; object-fit: cover;" />

                  <!-- Course Details -->
                  <div class="d-flex flex-column ms-3" style="flex-grow: 1; margin: 0; padding: 0;">
                    <!-- Course Title -->
                    <a [routerLink]="['/courses', item.courseID]" (click)="closeDropdown()"
                      class="nav-link mb-0 text-truncate"
                      style="font-size: 16px; font-weight: semibold; margin: 0; padding: 0;">
                      {{ item.title }}
                    </a>
                    <!-- Course Price -->
                    <p class="mb-0 text-muted" style="font-size: 14px; margin: 0; padding: 0;">
                      {{ item.price }} DKK
                    </p>
                  </div>
                </div>

                <!-- Add to Cart Button -->
                <div class="mt-2">
                  <button class="btn btn-sm btn-outline-success w-100" (click)="addToCart(item)">
                    Add to Cart
                  </button>
                </div>
              </li>

              <!-- Go to Wishlist Button -->
              <div class="text-center pt-2">
                <button class="btn btn-sm btn-success w-100" [routerLink]="['/wishlist']">
                  Go to Wishlist
                </button>
              </div>
            </div>
            <ng-template #noItems>
              <li class="dropdown-item text-muted">
                No items in your wishlist yet.
              </li>
            </ng-template>
          </ul>
        </li>

        <!-- Cart Icon -->
        <li class="nav-item dropdown me-3 cart-container" (mouseover)="showCartDropdown = true"
          (mouseleave)="showCartDropdown = false">
          <a class="nav-link dropdown-toggle fw-semibold" id="cartDropdown" role="button" aria-expanded="false">
            <img src="assets/images/cart.svg" alt="Cart" width="30" height="30" />
            <!-- Cart Item Count -->
            <span *ngIf="cartItemCount > 0" class="badge badge-pill bg-danger">
              {{ cartItemCount }}
            </span>
          </a>

          <!-- Cart Dropdown -->
          <ul *ngIf="showCartDropdown" class="dropdown-menu cart-dropdown" aria-labelledby="cartDropdown">
            <div *ngIf="cartItems.length > 0; else noItems">
              <li *ngFor="let item of cartItems" class="dropdown-item py-2">
                <!-- Course Image and Details -->
                <div class="d-flex align-items-center">

                  <!-- Course Image -->
                  <img [src]="getCourseImageUrl(item)" alt="Course Image" class="img-thumbnail"
                    style="width: 50px; height: 50px; object-fit: cover;flex-shrink: 0;" />

                  <!-- Course Details -->
                  <div class="d-flex flex-column ms-3" style="flex-grow: 1;">
                    <!-- Course Title -->
                    <a [routerLink]="['/courses', item.courseID]" (click)="closeDropdown()"
                      class="nav-link text-truncate" style="font-size: 16px; font-weight: bold; margin: 0; padding: 0;">
                      {{ item.courseTitle }}
                    </a>

                    <!-- Instructor Name -->
                    <p class="card-text text-muted" style="font-size: 12px; margin: 0; padding: 0;">
                      {{ item.instructorName }}
                    </p>

                    <!-- Course Price -->
                    <p class="mb-0 text-muted" style="font-size: 16px; font-weight: bold; margin: 0; padding: 0;">
                      {{ item.price }} DKK
                    </p>
                  </div>
                </div>
              </li>

              <!--Total Price Section  -->
              <li class="dropdown-item border-top pt-2 d-flex justify-content-between align-items-center">
                <span><strong>Total: {{ getTotalPrice() }} DKK </strong></span>
              </li>

              <!-- Go to Cart Button -->
              <div class="text-center pt-2">
                <button class="btn btn-sm btn-success w-100" [routerLink]="'/cart'" (click)="closeDropdown()">
                  Go to Cart
                </button>
              </div>
            </div>
            <ng-template #noItems>
              <li class="dropdown-item text-muted">
                No items in your cart yet.
              </li>
            </ng-template>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>

<!-- Instructor Dashboard -->
<nav *ngIf="navbarType === 'instructor'" class="navbar navbar-expand-lg custom-bg py-3 fixed-top">
  <div class="container">
    <!-- Brand (Left Side) -->
    <a class="navbar-brand" (click)="navigateToInstructorDashboard()" style="cursor: pointer"
      (keydown.enter)="navigateToInstructorDashboard()" tabindex="0">
      StudyJet
    </a>

    <!-- Hamburger Menu (For Small Screens) -->
    <button class="navbar-toggler d-flex d-lg-none flex-column justify-content-around" type="button"
      (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#instructorNavbar"
      [attr.aria-controls]="'instructorNavbar'" [attr.aria-expanded]="!isNavbarCollapsed" aria-label="Toggle navigation"
      [ngClass]="{ collapsed: isNavbarCollapsed }">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>

    <!-- Collapsible Content -->
    <div [ngClass]="{ collapse: isNavbarCollapsed, 'navbar-collapse': true }" id="instructorNavbar">
      <!-- Right-Side Items: Manage Courses & Profile -->
      <div class="ms-auto order-lg-last" id="nav-right">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">

          <!-- dashboard -->
          <li class="nav-item me-3">
            <a class="nav-link fw-semibold" (click)="navigateToInstructorDashboard()"
              style="cursor: pointer">Dashboard</a>
          </li>
          <!-- Manage Courses -->
          <li class="nav-item me-3">
            <a class="nav-link fw-semibold" [routerLink]="['/instructor-courses']" (click)="toggleNavbar()">
              My Courses</a>
          </li>


          <li class="nav-item me-3">
            <a class="nav-link fw-semibold" [routerLink]="['/instructor-students']" (click)="toggleNavbar()">
              Enrolled Students</a>
          </li>


          <!-- Notification Bell Icon with Badge -->
          <li class="nav-item me-3">
            <a class="nav-link fw-semibold position-relative" [routerLink]="['/notifications']"
              (click)="toggleNavbar()">
              <i class="fas fa-bell fa-lg"></i>
              <!-- Notification Count Badge -->
              <span *ngIf="unreadNotificationsCount > 0"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ unreadNotificationsCount }}
                <span class="visually-hidden">unread notifications</span>
              </span>
            </a>
          </li>

          <!-- Profile Image Dropdown -->
          <li class="nav-item dropdown me-3">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="profileDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <!-- Profile Image Only -->
              <img *ngIf="profileImageUrl" [src]="profileImageUrl" alt="Profile" class="profile-image" />
            </a>

            <!-- Dropdown Menu -->
            <ul class="dropdown-menu profile-dropdown" aria-labelledby="profileDropdown">
              <li>
                <a class="dropdown-item fw-semibold" [routerLink]="['/security-settings']" role="button">Security
                  Settings</a>
              </li>
              <li>
                <a class="dropdown-item fw-semibold" href="#" (click)="logout()" role="button">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!-- Admin Dashboard -->
<nav *ngIf="navbarType === 'admin'" class="navbar navbar-expand-lg custom-bg py-3 fixed-top">
  <div class="container">
    <!-- Brand (Left Side) -->
    <a class="navbar-brand" (click)="navigateToAdminDashboard()" style="cursor: pointer"
      (keydown.enter)="navigateToInstructorDashboard()" tabindex="0">
      StudyJet
    </a>

    <!-- Hamburger Menu (For Small Screens) -->
    <button class="navbar-toggler d-flex d-lg-none flex-column justify-content-around" type="button"
      (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#instructorNavbar"
      [attr.aria-controls]="'instructorNavbar'" [attr.aria-expanded]="!isNavbarCollapsed" aria-label="Toggle navigation"
      [ngClass]="{ collapsed: isNavbarCollapsed }">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>

    <!-- Collapsible Content -->
    <div [ngClass]="{ collapse: isNavbarCollapsed, 'navbar-collapse': true }" id="instructorNavbar">
      <!-- Right-Side Items: Manage Courses & Profile -->
      <div class="ms-auto order-lg-last" id="nav-right">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">

          <!-- dashboard -->
          <li class="nav-item me-3">
            <a class="nav-link fw-semibold" (click)="navigateToAdminDashboard()" style="cursor: pointer">Dashboard</a>
          </li>

          <!-- Manage Courses -->
          <li class="nav-item me-3">
            <a class="nav-link fw-semibold" [routerLink]="['/manage-courses']" (click)="toggleNavbar()">
              Courses</a>
          </li>

          <li class="nav-item me-3">
            <a class="nav-link fw-semibold" [routerLink]="['/manage-students']" (click)="toggleNavbar()">
              Students</a>
          </li>

          <li class="nav-item me-3">
            <a class="nav-link fw-semibold" [routerLink]="['/manage-instructors']" (click)="toggleNavbar()">
              Instructors</a>
          </li>

          <!-- Notification Bell Icon with Badge -->
          <li class="nav-item me-3">
            <a class="nav-link fw-semibold position-relative" [routerLink]="['/notifications']"
              (click)="toggleNavbar()">
              <i class="fas fa-bell fa-lg"></i>
              <!-- Notification Count Badge -->
              <span *ngIf="unreadNotificationsCount > 0"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ unreadNotificationsCount }}
                <span class="visually-hidden">unread notifications</span>
              </span>
            </a>
          </li>

          <!-- Profile Image Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="profileDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <!-- Profile Image Only -->
              <img *ngIf="profileImageUrl" [src]="profileImageUrl" alt="Profile" class="profile-image" />
            </a>

            <!-- Dropdown Menu -->
            <ul class="dropdown-menu profile-dropdown" aria-labelledby="profileDropdown">
              <li>
                <a class="dropdown-item fw-semibold" [routerLink]="['/security-settings']" role="button">Security
                  Settings</a>
              </li>
              <li>
                <a class="dropdown-item fw-semibold" href="#" (click)="logout()" role="button">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>