<footer id="footer" class="p-3 bg-success text-light">
  <div class="container-fluid">
    <div class="row align-items-center">

      <div class="col-md-3 text-center">
        <p>StudyJet &copy; 2025. All rights reserved.</p>
      </div>
     
      <div class="col-md-3 text-center">
        <p>CVR-12345678</p>
      </div>

      <div class="col-md-3 text-center">
        <a href="mailto:benjina.project@gmail.com" class="text-white">
          <i class="fas fa-envelope"></i> Email: benjina.project&#64;gmail.com
        </a>
      </div>

      <div class="col-md-3 text-center">
        <a
          href="https://www.facebook.com/profile.php?id=61575392381665"
          target="_blank"
          class="text-white">
          <i class="fab fa-facebook-f"></i> Facebook
        </a>
      </div>
    </div>
  </div>
</footer>
