<section id="motto" >
    <div class="container py-4 py-lg-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img src="assets/images/CodingTogether.png" class="img-fluid rounded-5 img-thumbnail" alt="About Us Image" width="450" height="450">
            </div>
            <div class="col-lg-7 pt-3">
                <h2 class="mb-3 text-success">Our Mission</h2>
                <p class="lead text-success-emphasis fw-semibold">
                    At StudyJet, we believe that learning to code is a journey, not a destination. Our mission is to provide a supportive environment where individuals can continuously grow and evolve their coding skills.
                </p>
                <button class="btn btn-success btn-lg">Join Our Course</button>
            </div>
        </div>
    </div>
</section>

