
<section id="about" class="p-5">
    <div class="container mb-3">
        <div class="row mt-5">
            <div class="col">
                <h2 class="text-center mb-4 text-success">What our students say?</h2>
                <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonial d-flex flex-column align-items-center">
                                <img src="assets/images/person1.png" class="img-fluid rounded-circle mb-3" alt="Testimonial Image">
                                <p class="text-success-emphasis fw-semibold">"StudyJet's clear and engaging courses have greatly boosted my confidence in web development."</p>
                                <div class="rating">
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                </div>
                                <h5>John Doe</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial d-flex flex-column align-items-center">
                                <img src="assets/images/person2.png" class="img-fluid rounded-circle mb-3" alt="Testimonial Image">
                                <p class="text-success-emphasis fw-semibold">"The hands-on approach at StudyJet helped me master coding quickly and effectively, with real-world projects."</p>
                                <div class="rating">
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                </div>
                                <h5>Emily Smith</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial d-flex flex-column align-items-center">
                                <img src="assets/images/person3.png" class="img-fluid rounded-circle mb-3" alt="Testimonial Image">
                                <p class="text-success-emphasis fw-semibold">"Thanks to StudyJet, I gained the skills and confidence needed to start my career as a web developer."</p>
                                <div class="rating">
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                    <i class="text-success bi bi-star-fill"></i>
                                </div>
                                <h5>Mia Taylor</h5>
                            </div>
                        </div>
                    </div>
                    <!-- Left and Right Arrow Buttons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon " aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
